.todoForm__button {
	padding: 16px;
	border: none;
	outline: none;
	border-radius: 8px;
	background-color: $darkBlue;
	color: $whiteColor;
	transition: box-shadow .3s ease-in-out;

	&:focus {
		-webkit-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		-moz-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
	}

	&:hover {
		-webkit-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		-moz-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
	}
}