.todoForm__input {
	width: 100%;
	padding: 16px 0 16px 16px;
	border: none;
	border-radius: 8px;
	outline: 1px solid $darkColor;
	background-color: $darkLight;
	color: $grayColor;
	transition: box-shadow .3s ease-in-out;

	&:focus {
		-webkit-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		-moz-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
	}

	&:hover {
		-webkit-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		-moz-box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
		box-shadow: 0px 0px 23px 7px rgba(30, 111, 159, 0.2);
	}
}