.clock__content {
    padding: 50px 0;
    text-align: center;

    .clock {
        font-size: 70px;
        font-weight: 400;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: orange;
    }
}